[submodule "moe-theme"]
	path = lib/moe-theme
	url = https://github.com/dakra/moe-theme.el.git
[submodule "lib/eat"]
	path = lib/eat
	url = https://github.com/dakra/eat.git
    branch = windows-git-bash
[submodule "lib/org-modern-indent"]
	path = lib/org-modern-indent
	url = https://github.com/jdtsmith/org-modern-indent.git
[submodule "lib/org"]
	path = lib/org
	url = git://git.savannah.gnu.org/emacs/org-mode.git
